# Genviz AI Project .gitignore

# Environments
.venv
venv/
ENV/
env/

# Streamlit-specific
# The secrets file is no longer used, but this is good practice
.streamlit/secrets.toml

# Local database files
*.db
*.sqlite3

# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# IDE-specific files
.vscode/

# OS-specific files
.DS_Store
